.fit {
  min-height: calc(100vh - 88px);
}

.nav-border-right {
  padding: 0px;
  position: relative;
}

.nav-border-right:after{
    content: "";
    position: absolute;
    right: -18px;
    top: 4px;
    width: 1px;
    height: 25px;
    background-color: #eaeaea;
} 
.nav-border-right:last-child:after{
    content: "";
    position: absolute;
    right: -18px;
    top: 4px;
    width: 0px;
    height: 25px;
    background-color: #FFFFFF;
} 
.z-99{
  z-index: 99999;
}

.add-wishlist{
  bottom: -25px!important;
  background-color: #f5f3f4;
  padding: 6px;
  text-align: center;
  right: 0!important;
}

.full-table table{
  width: 100%!important;
}

.full-table table th{
  background: #f5f5f5!important;
}

.footer_row_light-grey {
  background-color: #ededed;
  color: #000;
}

.footer_row_dark-grey {
  background-color: #dcdcdc;
}

.mobile-hero-banner{
  max-height: 100%!important;
  max-width: 100%!important;
  height: 100%!important;
}

@media screen and (min-width:1180px) {
  .brand-grid-3 .lg\:grid-cols-3 {
    grid-template-columns: repeat(4, minmax(0, 1fr))!important;
  }
}
